body{
	text-align: center;
}

p{
	color: black;
	font-weight: bold;
}

img{
	width: 100%;
	height: 100%;
}

.section1{
	width: 49.5%;
	float:left; 
	border: 1px solid black;
}

.section2{
	width: 49.5%;
	float: right;
	border: 1px solid black;
}

.nav {
  background-color: yellow; 
  list-style-type: none;
  text-align: center;
  margin: 0;
  padding: 0;
}




/* 1 em = 16 px */
/* MEDIA QUERIES */

/* tablet */
@media screen and (min-width: 500px){
	body{
		background-color: orange;
	}

	p{
		font-size: 5em;
	}

	img{
		width: 50%;
		height: 50%;
	}

	.block{
	width: 75%;
	height: auto;
	border: 2px double black;
	}

	.nav li {
	  display: inline-block;
	  font-size: 20px;
	  padding: 20px;
	}

}



/* desktop */
@media screen and (min-width: 1050px) {
	body{
		background-color: red;
	}

	p{
		font-size: 6em;
	}

	.block{
	width: 50%;
	height: auto;
	border: 2px double black;
	}

	.nav li {
	  display: inline-block;
	  font-size: 20px;
	  padding: 20px;
	}

}



/* FOR MOBILE DEVICES*/
/* Source for different devices http://cssmediaqueries.com/target/ */
@media screen and (max-device-width: 500px) and (orientation: portrait){
	body{
		background-color: yellow;
	}

	p{
		font-size: 4em;
		font-weight: bolder;
	}

	img{
		width: 50%;
		height: 50%;
	}

	.block{
	width: 100%;
	height: auto;
	border: 2px double black;
	}

	.nav li {
	  display: block;
	  font-size: 20px;
	  padding: 20px;
	}
}

